<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>194E9DBA-65FA-4250-8826-2C904B89C0DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>525AD411-D1CB-4F1D-B907-FBC486358F8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>525AD411-D1CB-4F1D-B907-FBC486358F8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD4F4296-5335-44C0-900C-A82EF421BAA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bkou</string>
	<key>description</key>
	<string>open project in VS Code</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OVSC</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"bkou-cli","arg":"bk\/bkou-cli","subtitle":"open bkou-cli in VSCode"},{"title":"bkou-core","arg":"bk\/bkou-core","subtitle":"open bkou-core in VSCode"},{"title":"Heart AI","arg":"zyb\/qai\/h5-heart-ai","subtitle":"open Heart AI in VSCode"}]</string>
				<key>keyword</key>
				<string>code</string>
				<key>matchmode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>525AD411-D1CB-4F1D-B907-FBC486358F8C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>131072</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>194E9DBA-65FA-4250-8826-2C904B89C0DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

code ~/Documents/$query</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AD4F4296-5335-44C0-900C-A82EF421BAA6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>194E9DBA-65FA-4250-8826-2C904B89C0DB</key>
		<dict>
			<key>xpos</key>
			<real>160</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>525AD411-D1CB-4F1D-B907-FBC486358F8C</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>AD4F4296-5335-44C0-900C-A82EF421BAA6</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
